


<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Calendar
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">



      </div>
    </div>
  </div>
  <div class="container-fluid">

    <!-- Advanced Validation -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">

          <div class="body">


            <table class="table table-striped " [mfData]="niveaus" #mf="mfDataTable" [mfRowsOnPage]="5">
              <thead>
              <tr>

                <th style="width: 10%">
                  <mfDefaultSorter by="nom">date</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="nom">user</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="nom">company</mfDefaultSorter>

                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="nom">action</mfDefaultSorter>

                </th>

              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let niveau of mf.data">

                <td >{{niveau.date}}</td>
                <td>{{niveau.user.name}}</td>
                <td>{{niveau.company.label}}</td>
                <i class="material-icons" (click)="remove(niveau.id)" > {{niveau.id}}</i>

                <td>


                </td>
              </tr>

              </tbody>
              <tfoot>
              <tr>
                <td colspan="3">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
              </tfoot>

            </table>





          </div>
        </div>

      </div>



    </div>

  </div>


  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="date">date</label>
        <input type="text" class="form-control" name="label" [(ngModel)]="form.date" #label="ngModel" required />
        <div *ngIf="f.submitted && label.invalid">
          <div *ngIf="label.errors.required">date is required</div>
        </div>
      </div>
      <div class="col-sm-6">

        <p> utilisateur</p>

        <select  [(ngModel)]="selecteduser"  name="mater" class="form-control selectpicker show-tick">
        <option *ngFor="let user of users" [value]="user.id">
          {{ user.name }} </option>

      </select>
      <p *ngIf="selecteduser">  user choisit.   </p>
  </div>

      <div class="col-sm-6">
        <p> company</p>

        <select   [(ngModel)]="selectedcompany"   name="profile" class="form-control selectpicker show-tick">
          <option *ngFor="let company of companys" [value]="company.id">
            {{ company.label }} </option>

        </select>
        <p  *ngIf="selectedcompany" >company choisit. </p>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Ajouter</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          erreur!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>

</section>
