


<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Fiche
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">



      </div>
    </div>
  </div>
  <div class="container-fluid">

    <!-- Advanced Validation -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">

          <div class="body">


            <table class="table table-striped " [mfData]="fiches" #mf="mfDataTable" [mfRowsOnPage]="5">
              <thead>
              <tr>

                <th style="width: 10%">
                  <mfDefaultSorter by="nom">Locaux</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="nom">Nom responsable</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="nom">incerticide</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="nom">Nom encadreur</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="nom">observations</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="nom">Harrive</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="nom">Hdepart</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="nom">action</mfDefaultSorter>

                </th>

              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let fich of mf.data">

                <td >{{fich.locaux}}</td>
                <td >{{fich.nresponsable}}</td>
                <td >{{fich.incerticide}}</td>
                <td >{{fich.nencadreur}}</td>
                <td >{{fich.observations}}</td>
                <td >{{fich.harrive}}</td>
                <td >{{fich.hdepart}}</td>
                <i class="material-icons" (click)="remove(fich.id)" > {{fich.id}}</i>

                <td>


                </td>
              </tr>

              </tbody>
              <tfoot>
              <tr>
                <td colspan="3">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
              </tfoot>

            </table>





          </div>
        </div>

      </div>



    </div>

  </div>

  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="locaux">Locaux</label>
        <input type="text" class="form-control" name="label" [(ngModel)]="form.locaux" #label="ngModel" required />
        <div *ngIf="f.submitted && label.invalid">
          <div *ngIf="label.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="nresponsable">Nom responsable</label>
        <input type="text" class="form-control" name="label" [(ngModel)]="form.nresponsable" #label="ngModel" required />
        <div *ngIf="f.submitted && label.invalid">
          <div *ngIf="label.errors.required">Nom responsable is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="incerticide">incerticide</label>
        <input type="text" class="form-control" name="label" [(ngModel)]="form.incerticide" #label="ngModel" required />
        <div *ngIf="f.submitted && label.invalid">
          <div *ngIf="label.errors.required">incerticide is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="nencadreur">Nom encadreur</label>
        <input type="text" class="form-control" name="label" [(ngModel)]="form.nencadreur" #label="ngModel" required />
        <div *ngIf="f.submitted && label.invalid">
          <div *ngIf="label.errors.required">Nom encadreur is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="observations">observations</label>
        <input type="text" class="form-control" name="label" [(ngModel)]="form.observations" #label="ngModel" required />
        <div *ngIf="f.submitted && label.invalid">
          <div *ngIf="label.errors.required">observations is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="Harrive">Harrive</label>
        <input type="text" class="form-control" name="label" [(ngModel)]="form.harrive" #label="ngModel" required />
        <div *ngIf="f.submitted && label.invalid">
          <div *ngIf="label.errors.required">Harrive is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="hdepart">hdepart</label>
        <input type="text" class="form-control" name="label" [(ngModel)]="form.hdepart" #label="ngModel" required />
        <div *ngIf="f.submitted && label.invalid">
          <div *ngIf="label.errors.required">Harrive is required</div>
        </div>
      </div>





      <div class="col-sm-6">

        <select  [(ngModel)]="selecteduser"  name="mater" class="form-control selectpicker show-tick">
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.name }} </option>

        </select>
        <p *ngIf="selecteduser">  user choisit.   </p>
      </div>

      <div class="col-sm-6">
        <select   [(ngModel)]="selectedcompany"   name="profile" class="form-control selectpicker show-tick">
          <option *ngFor="let company of companys" [value]="company.id">
            {{ company.label }} </option>

        </select>
        <p  *ngIf="selectedcompany" >company choisit. </p>
      </div>


      <div class="col-sm-6">
        <select   [(ngModel)]="selectedcalendar"   name="profile" class="form-control selectpicker show-tick">
          <option *ngFor="let calendar of niveaus" [value]="calendar.id">
            {{ calendar.date }} </option>

        </select>
        <p  *ngIf="selectedcalendar" >calendar choisit. </p>
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Ajouter</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          erreur!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</section>
