


<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Fiche
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">



      </div>
    </div>
  </div>
  <div class="container-fluid">

    <!-- Advanced Validation -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">

          <div class="body">


            <table class="table table-striped " [mfData]="fiches" #mf="mfDataTable" [mfRowsOnPage]="5">
              <thead>
              <tr>



                <th>
                  <mfDefaultSorter by="nom">operateur</mfDefaultSorter>

                </th>
                <th>
                  <mfDefaultSorter by="nom">entreprise</mfDefaultSorter>

                </th>
                <th>
                  <mfDefaultSorter by="nom">date</mfDefaultSorter>

                </th>

                <th style="width: 10%">
                  <mfDefaultSorter by="nom">detail</mfDefaultSorter>

                </th>

              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let fich of mf.data">
                <td >{{fich.user.name}}</td>
                <td >{{fich.company.label}}</td>
                <td >{{fich.calendar.date}}</td>


                <td> <a mat-button [routerLink]="['/afichd', fich.id,fich.company.id]"> detail</a></td>

              </tr>

              </tbody>
              <tfoot>
              <tr>
                <td colspan="3">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
              </tfoot>

            </table>





          </div>
        </div>

      </div>



    </div>

  </div>

</section>
