


<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Niveau
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">



      </div>
    </div>
  </div>
  <div class="container-fluid">

    <!-- Advanced Validation -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">

          <div class="body">


            <table class="table table-striped " [mfData]="niveaus" #mf="mfDataTable" [mfRowsOnPage]="5">
              <thead>
              <tr>

                <th style="width: 10%">
                  <mfDefaultSorter by="nom">nom</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="nom">adress</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="nom">Action</mfDefaultSorter>

                </th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let niveau of mf.data">

                <td >{{niveau.label}}</td>
                <td>{{niveau.address}}</td>
                <i class="material-icons" (click)="remove(niveau.id)" > {{niveau.id}}</i>

                <td>


                </td>
              </tr>

              </tbody>
              <tfoot>
              <tr>
                <td colspan="3">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
              </tfoot>

            </table>





          </div>
        </div>

      </div>



    </div>

  </div>

  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="label">name entreprise</label>
        <input type="text" class="form-control" name="label" [(ngModel)]="form.label" #label="ngModel" required />
        <div *ngIf="f.submitted && label.invalid">
          <div *ngIf="label.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="address">address</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.address" #address="ngModel"
               required />
        <div *ngIf="f.submitted && address.invalid">
          <div *ngIf="address.errors.required">address is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Ajouter</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          erreur!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</section>
