

<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Desinectisation
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">

      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- Advanced Validation -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">

          <div class="body">





            <table class="table table-striped " [mfData]="gcs"  #mf="mfDataTable" >
              <thead>
              <tr>


                <th  >
                  <mfDefaultSorter by="nom">nom</mfDefaultSorter>
                </th>
                <th s >
                  <mfDefaultSorter by="nom">action</mfDefaultSorter>

                </th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let gc of mf.data">

                <td >{{gc.fiche.id}}</td>
                <td >{{gc.locaux.name}}</td>

                <td>
                  <i class="material-icons" (click)="remove(gc.id)" > delete_forever</i>
                </td>

              </tr>
              </tbody>
            </table>





          </div>
        </div>

      </div>

    </div>

  </div>




  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


      <div class="col-sm-6">
        <p> choisir un produit</p>
        <select  [(ngModel)]="selectedproduit"  name="mater" class="form-control selectpicker show-tick">
          <option *ngFor="let user of produits" [value]="user.id">
            {{ user.pname }} </option>

        </select>
        <p *ngIf="selectedproduit">  produit choisit.   </p>
      </div>

      <div class="col-sm-6">
        <p> choisir un locau</p>

        <select   [(ngModel)]="selectedlocaux"   name="profile" class="form-control selectpicker show-tick">
          <option *ngFor="let company of niveaus" [value]="company.id">
            {{ company.name }} </option>

        </select>
        <p  *ngIf="selectedlocaux" >locaux choisit. </p>
      </div>




      <div class="form-group">
        <button class="btn btn-primary">Ajouter</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          erreur!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>


</section>
